@import "syntax-variables";
//specific styling

.syntax--comment:not(.gfm) { //Keeps CriticMarkup in GFM  from being italics
  font-style: italic;
  color: @gray;
}

.syntax--keyword, .syntax--storage {
  color: @blue;
}

.syntax--entity.syntax--name.syntax--function, .syntax--keyword.syntax--other.syntax--name-of-parameter.syntax--objc {
  color: @orange;
}

.snytax--entity.syntax--name {
  color: @blue;
}

.snytax--constant.syntax--numeric {
  color: @blue;
}

.syntax--variable.syntax--language, .snytax--variable.syntax--other {
  color: @blue;
}

.syntax--constant {
  color: @red;
}

.syntax--variable.syntax--other.syntax--constant {
  color: @blue;
}

.syntax--constant.syntax--language {
	color: @red;
}

.syntax--string {
  color: @fuschia;
}

.syntax--support.syntax--function {
  color: @blue;
}

.syntax--support.syntax--type {
  color: @aqua;
}

.syntax--support.syntax--constant {
  color: @blue;
}

.syntax--meta.syntax--tag, .syntax--declaration.syntax--tag, .syntax--entity.syntax--name.syntax--tag, .syntax--entity.syntax--other.syntax--attribute-name {
  color: @blue;
}

.syntax--invalid {
  color: #FFFFFF;
  background-color: #CC0000;
}

.syntax--constant.syntax--character.syntax--escaped, .syntax--constant.syntax--character.syntax--escape, .syntax--string .syntax--source, .syntax--string .syntax--source.syntax--ruby {
  color: #519F50;
}


.syntax--meta.syntax--diff.syntax--header, .syntax--meta.syntax--separator.syntax--diff, .syntax--meta.syntax--diff.syntax--index, .syntax--meta.syntax--diff.syntax--range {
  background-color: @blue;
}



@import "editor";
@import "gfm";
@import "html";
@import "less";
@import "yaml";
@import "php";
@import "ruby";
@import "json";
@import "git";
@import "markdown";
@import "markup";
@import "python";
