@import "colors";

.syntax--source.syntax--gfm {
  .syntax--markup {
    -webkit-font-smoothing: auto;
    &.syntax--heading {
      //color: yellow;
      font-weight: bold;
      &.syntax--heading-1 {
        color: mix(yellow, @syntax-text-color, 100);
      }
      &.syntax--heading-2 {
        color: mix(yellow, @syntax-text-color, 90);
      }
      &.syntax--heading-3 {
        color: mix(yellow, @syntax-text-color, 75);
      }
      &.syntax--heading-4 {
        color: mix(yellow, @syntax-text-color, 60);
      }
      &.syntax--heading-5 {
        color: mix(yellow, @syntax-text-color, 40);
      }
      &.syntax--heading-6 {
        color: mix(yellow, @syntax-text-color, 30);
      }
    }

    &.syntax--link {
      color: yellow;
    }

    &.syntax--bold {
      color: desaturate(yellow, 10%);
      font-weight: bold;
    }

    &.syntax--changed {
      color: yellow;
    }

    &.syntax--deleted {
      color: yellow;
    }

    &.syntax--italic {
      color: yellow;
      font-style: italic;
    }

    &.syntax--inserted {
      color: yellow;
    }

    &.syntax--list {
      color: yellow;
    }

    &.syntax--quote {
      color: yellow;
    }

    &.syntax--raw.syntax--inline {
      color: yellow;
    }

    &.syntax--raw.syntax--gfm.syntax--support.syntax--gfm {
      color: yellow;
    }

    &.syntax--strike.syntax--gfm {
      color: yellow;
      text-decoration: line-through;
      text-decoration-style: dashed;
      //-webkit-text-decoration-style: dashed; IMPLEMENTED SOON, KEEPING IN TO REMIND ME
    }
  }

  .syntax--comment.syntax--hr.syntax--gfm {
    color: yellow;
  }

  .syntax--comment.syntax--quote.syntax--gfm {
    .syntax--support.syntax--quote.syntax--gfm{
      font-style: normal;
      color: @syntax-color-renamed;
      opacity: 1;
    }
    font-style: italic;
    color: @syntax-text-color;
    opacity: 1;
  }

  .syntax--raw.syntax--gfm {
    .syntax--support.syntax--gfm{
      color: yellow;
      font-style: italic;
    }
    color: yellow;
  }

  .syntax--support.syntax--gfm {
    color: yellow;
    font-style: italic;
  }

  .syntax--markup.syntax--code {
    //color: yellow;
    //font-style: italic;
  }

  .syntax--raw.syntax--gfm.syntax--support.syntax--gfm {
    color: yellow;
  }

  .syntax--link .syntax--entity {
    color: yellow;
  }
  .syntax--critic.syntax--gfm {
    .syntax--addition {
      color: yellow;
    }
    .syntax--deletion {
      color: yellow;
    }
    .syntax--substitution {
      color: yellow;
    }
    .syntax--comment {
      font-style: normal;
      color: yellow;
    }
    .syntax--highlight {
      color: yellow;
    }
  }
  .syntax--comment.syntax--block.syntax--gfm {
    font-style: italic;
    color: yellow;
  }
}

.syntax--source.syntax--gfm.syntax--critic.syntax--gfm.syntax--comment {
  font-style: normal;
  color: yellow;
}

.syntax--list.syntax--gfm {
  color: yellow;
}

//criticmarkup fixes
.syntax--critic.syntax--gfm.syntax--addition {
  color: yellow;
}
.syntax--critic.syntax--gfm.syntax--deletion {
  color: yellow;
}
.syntax--critic.syntax--gfm.syntax--substitution {
  color: yellow;
}
.syntax--critic.syntax--gfm.syntax--comment {
  color: yellow;
}
.syntax--critic.syntax--gfm.syntax--highlight {
  color: yellow;
}
