@import "colors";


.syntax--text.syntax--html{
  .syntax--punctuation{
    color: @syntax-text-color;
    opacity: .75;
  }
  .syntax--meta{
    color: @syntax-text-color;
    //opacity: .75;
  }
   .syntax--entity.syntax--other.syntax--attribute-name.syntax--html {
     color: desaturate(@red, 10%);
   }

  .syntax--entity{
    color: @yellow;
  }
  .syntax--string{
    color:@green;
  }
  .syntax--meta.syntax--embedded.syntax--line.syntax--php {
    background: fade(@silver, 5%);
  }
  .syntax--punctuation.syntax--section.syntax--embedded {
    //color: yellow;
  }
}
