@import "colors";

.syntax--text.syntax--html.syntax--php{
  .syntax--meta.syntax--function-call.syntax--php {
    color: yellow;
  }
  .syntax--support.syntax--class.syntax--php {
    color: yellow;
  }

  .syntax--meta.syntax--embedded.syntax--line.syntax--php {
    background: fade(yellow, 20%);
  }
  .syntax--punctuation.syntax--section.syntax--embedded {
    color: yellow;
  }
}
