@import "colors";

.syntax--source.syntax--ruby {
  .syntax--keyword.syntax--control {
    color: @blue;
    font-style: normal;
    font-weight: normal;
  }
  .syntax--class {
    font-style: italic;
    font-weight: bold;
  }
  .syntax--constant {
    color: @orange;
  }
  .syntax--constant.syntax--other.syntax--symbol {
    color: @aqua;
  }
}
